@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background-color: #353535;
  margin: 0 30dvh;
}

main {

  height: 100dvh;
  background-color: transparent;
}

header{
  /*border-radius: 2dvh;*/
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
